# Database Credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=fincore

# Ports (Docker Local Development)
APP_LOCAL_PORT=3000
DB_LOCAL_PORT=5432

# Database URL for Drizzle
DATABASE_URL=postgres://user:password@localhost:${DB_LOCAL_PORT}/fincore
